:root {
  --primary-color: #2b2b2b; /* Dark grey */
  --secondary-color: #ffffff; /* Mono text color */
  --accent-color: #ffea00; /* Yellow */
  --font-family: "Courier New", monospace; /* Mono font */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px;
  transition: top 0.3s; /* Added transition property */
  z-index: 1000; /* Added z-index to ensure the header is on top of other elements */
}

.header.scrolled {
  top: -80px; /* Adjust this value to control how much the header is hidden */
}


.logo img {
  height: 40px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  transition: color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  font-family: var(--font-family);
}

.nav-item a:hover {
  color: var(--accent-color);
}

.menu-toggle {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: var(--secondary-color);
  margin-bottom: 5px;
}

.open .menu-toggle span {
  background-color: var(--accent-color);
}

.open .nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }
  
  .menu-toggle {
    display: block;
  }
}
