:root {
  --primary-color: #282c34;
  --secondary-color: #61dafb;
  --font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px;
}

.logo img {
  height: 40px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
  color: var(--secondary-color);
}

.menu-toggle {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin-bottom: 5px;
}

.open .menu-toggle span {
  background-color: #000;
}

.open .nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }
  
  .menu-toggle {
    display: block;
  }
}
.home {
  text-align: center;
  padding: 40px;
}

.title,
.subtitle,
.slideshow-title {
  margin-bottom: 20px;
}

.product-list {
  margin-bottom: 40px;
}

.bar {
  background-color: #61dafb;
  height: 4px;
  margin: 20px auto;
  max-width: 300px;
}

.slideshow {
  margin-top: 40px;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.slick-dots li {
  margin: 0 4px;
  display: flex;
  align-items: center;
}

.slick-dots button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.slick-dots button:before {
  content: "•";
  color: #61dafb;
  font-size: 24px;
}

.slick-dots .slick-active button:before {
  color: #282c34;
}
